!!!
html
	head
		block head
			block title
				title UnOJ评测后台
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/backend.css')
			link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
			| <style>
			| body { padding-top: 60px; }
			| </style>
			script(src='/scripts/jquery.min.js')
		block scripts
	body
		include header

		block content

		include footer
