.container-fluid
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p UnOJ在线评测平台 &copy;&nbsp;
			a(href='#') KnH 开发团队
			&nbsp;2013

link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')

block footer
