.CodeMirror {
	border:1px solid #CCC;
	font-size:16px;
	border-radius: 4px;
}

.CodeMirror-fullscreen {
  position: fixed;
  top: 40px; left: 0; right: 0; bottom: 41px;
  height: auto;
  z-index: 9;
}

#submitter.fullscreen {
	position:fixed;
	background:#fff;
	height: 40px;
	left:0;
	right:0;
	bottom:0;
	z-index: 10;
	margin:0;
}

#submitter.fullscreen .controls{
	padding-top:5px;
	margin-left:30px;
}

.x-merge.fullscreen {
  position: fixed;
  top: 40px; left: 0; right: 0; bottom: 41px;
  height: auto;
  z-index: 9;
}

.x-merge.fullscreen .CodeMirror-merge {
	height:100%;
}

.x-merge.fullscreen .CodeMirror-merge .CodeMirror-merge-pane, .x-merge.fullscreen .CodeMirror-merge .CodeMirror-merge-pane .CodeMirror {
	position:absolute;
	top:0;
	bottom:0;
}
.x-merge.fullscreen .CodeMirror-merge .CodeMirror-merge-pane .CodeMirror{
	left:0;right:0;height:auto;
}

.x-merge.fullscreen .CodeMirror-merge .CodeMirror-merge-gap {
	position:absolute;
	top:0;
	bottom:0;
	left:47%;
	right:47%;
}

